<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ForexBangkok | สถาบันตลาดฟอเร็กซ์ที่ใหญ่ที่สุด</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
    </head>
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm " data-scroll-class='366px:pos-fixed'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href="/">
                                    <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                    <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                            <div class="col-md-11 col-sm-12 text-center text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li>
											<a href="/"><span class="fs-nav">หน้าหลัก</span></a>
										</li>
                                        <li>
											<a href="/couser"><span class="fs-nav">ศูนย์การเรียนรู้</span></a>
										</li>
                                         <li>
											<a href="/products"><span class="fs-nav">สินค้าและบริการ</span></a>
										</li>
                                    </ul>
                                </div>

                            </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">

<section class="cover height-80 imagebg slider slider--ken-burns" data-arrows="true" data-paging="true">
<ul class="slides">
<li class="imagebg" data-overlay="4">
<div class="background-image-holder"> <img alt="background" src="img/sliders/01.jpg"> </div>
<div class="container pos-vertical-center">
<div class="row">
<div class="col-sm-12">
<h1><span class="fs-15">FBS กับ ForexBangkok <br> ขอสานฝันของคุณให้เป็นจริง</span></h1>
<p><span class="fs-16">บริษัท FBS จับมือร่วมกับ ForexBangkok</span></p>
<a class="btn-gr" target="_blank" href="https://fbs.co.th/?ppu=436004"> <span class="fs-btn">เปิดบัญชีเทรด</span> </a>
</div>
</div>
</div>
</li>

<li class="imagebg" data-overlay="4">
<div class="background-image-holder background--top"> <img alt="background" src="img/sliders/02.jpg"> </div>
<div class="container pos-vertical-center">
<div class="row">
<div class="col-sm-12">
<h1><span class="fs-15">มอร์เซเดสเบ็นซ์ จาก FBS</span></h1>
<p><span class="fs-16">เพราะคุณสมควรได้รับ!</span></p>
<a class="btn-gr" target="_blank" href="https://fbs.co.th/?ppu=436004"> <span class="fs-btn">เปิดบัญชีเทรด</span> </a>

</div>
</div>
</div>
</li>
<li class="imagebg" data-overlay="4">
<div class="background-image-holder"> <img alt="background" src="img/sliders/03.jpg"> </div>
<div class="container pos-vertical-center">
<div class="row">
<div class="col-sm-12">
<h1><span class="fs-15">โบนัสเงินฝาก 100%</span></h1>
<p><span class="fs-16">เพิ่มเงินฝากของคุณเป็นสองเท่า</p>
<a class="btn-gr" target="_blank" href="https://fbs.co.th/?ppu=436004"> <span class="fs-btn">เปิดบัญชีเทรด</span> </a>
</div>
</div>
</div>
</li>
<li class="imagebg" data-overlay="4">
<div class="background-image-holder"> <img alt="background" src="img/sliders/04.png"> </div>
<div class="container pos-vertical-center">
<div class="row">
<div class="col-sm-12">
<h1><span class="fs-15">A lot of Apples</span></h1>
<p><span class="fs-16">เทรดกับ FBS ได้รับ iPhone 7 Plus!</span></p>
<a class="btn-gr" target="_blank" href="https://fbs.co.th/?ppu=436004"> <span class="fs-btn">เปิดบัญชีเทรด</span> </a>
</div>
</div>
</div>
</li>
</ul>
</section>


<section class="border--bottom space--xxs">
<div class="container">
<div class="row">
<div class="col-sm-12">
<!--end of modal instance-->
<span class="block--xs fs-17">ด้วย FBS และ ForexBangkok มันจึงเป็นเรื่องง่ายที่จะทำเงินจากการเทรด Forex เรามุ่งมั่นที่จะให้ลูกค้าได้รับประสบการณ์ที่ดีที่สุดและสร้างโอกาสหลากหลายให้กับเทรดเดอร์ของเรา!</span>
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</section>




<section class="bg--secondary">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-4 col-xs-12">
<div class="video-cover border--round box-shadow-wide">
<div class="background-image-holder">
<img alt="image" src="img/sc_pw-01.jpg" />
</div>
<div class="video-play-icon"></div>
<iframe src="https://player.vimeo.com/video/211034261" allowfullscreen="allowfullscreen"></iframe>
</div>
<!--end video cover-->

<div class="feature__body boxed boxed--lg">
<h3><span class="fs-14">1.ขั้นตอนการเปิดบัญชี</span></h3>
<ul class="ul-fs box-li-bk ">
<li>สมัครเปิดบัญชี</li>
<li>เลือกบัญชีตามความเหมาะสมของเงินลงทุน ( แนะนำบัญชี Cent )</li>
<li>ยืนยันตัวตนกับโบรกเกอร์โดยใช้บัตรประชาชน Smart Card</li>
<li>เมื่อสมัครเสร็จแล้วให้ save ข้อมูลในการสมัครไว้ สำคัญที่สุดคือ Pin Code เพื่อใช้ในการถอนเงิน จำไว้ให้ดี หากลืมหรือทำหาย ต้องแจ้ง forget กับระบบใหม่</li>										
</ul>
</div>
</div>
<div class="col-md-6 col-sm-4 col-xs-12">
<div class="video-cover border--round box-shadow-wide">
<div class="background-image-holder">
<img alt="image" src="img/sc_pw-02.jpg" />
</div>
<div class="video-play-icon"></div>
<iframe src="https://www.youtube.com/embed/nEF_SyWptX8?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
</div>
<!--end video cover-->

<div class="feature__body boxed boxed--lg">
<h3><span class="fs-14">2.ขั้นตอนการฝากเงิน</span></h3>
<ul class="ul-fs box-li-bk ">
<li>สมัครเปิดบัญชี</li>
<li>ลูกค้าควรทำ แบงค์กิ้ง ออนไลน์กับธนคาร เพื่อสะดวกแก่การทำธุรกรรมออนไลน์</li><br>							
</ul>
</div>
</div>
</div>						
<div class="col-md-6 col-sm-4 col-xs-12">
<div class="video-cover border--round box-shadow-wide">
<div class="background-image-holder">
<img alt="image" src="img/sc_pw-03.jpg" />
</div>
<div class="video-play-icon"></div>
<iframe src="https://www.youtube.com/embed/yDbhhKb4F8o?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
</div>
<!--end video cover-->

<div class="feature__body boxed boxed--lg ">
<h3><span class="fs-14">3.ขั้นตอนการถอนเงิน</span></h3>
<ul class="ul-fs box-li-bk  col-sm-6">
<li>เข้าระบบสมาชิก FBS</li>
<li>ไปที่เมนู withdraw funds</li>
</ul>
<ul class="ul-fs col-sm-12">
<li class="box-li-bk">เลือกถอนเงินจากระบบ กรอกรายละเอียดของธนาคารที่ท่านจะถอน จากตัวอย่างคือธนาคารกรุงไทย (ไวสุด) ถ้าธนาคารอื่นก็เลือก Bank Wire</li><br>
<li>การถอนครั้งแรกจะนานหน่อย ใช้เวลา 2-3 วัน ในวันทำงาน จันทร์ - ศุกร์ แต่การถอนครั้งถัดไปจะไวขึ้น ถอนเช้า เข้าเย็น เช่น 7 โมงเช้า เข้า 5 โมงเย็น</li>										
</ul>									

</div>


</div>

<div class="col-md-6 col-sm-4 col-xs-12">
<div class="video-cover border--round box-shadow-wide">
<div class="background-image-holder">
<img alt="image" src="img/sc_pw-04.jpg" />
</div>
<div class="video-play-icon"></div>
<iframe src="https://www.youtube.com/embed/8hcPBA6PsUg?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
</div>
<!--end video cover-->

<div class="feature__body boxed boxed--lg ">
<h3><span class="fs-14">กรณีลืมรหัสผ่าน?</span></h3>
<ul class="ul-fs box-li-bk  col-sm-6">
<li>Personal area - การกู้คืนรหัสผ่าน</li>
</ul>
									
</div>
</div>

<div class="cl-margin hidden-xs hidden-sm"></div>

<div class="col-md-6 col-sm-4 col-xs-12">
<div class="video-cover border--round box-shadow-wide">
<div class="background-image-holder">
<img alt="image" src="img/sc_pw-05.jpg" />
</div>
<div class="video-play-icon"></div>
<iframe src="https://www.youtube.com/embed/AXVsT3aht58?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
</div>
<!--end video cover-->

<div class="feature__body boxed boxed--lg ">
<h3><span class="fs-14">การเปิดบัญชีเพิ่ม</span></h3>
<ul class="ul-fs col-sm-12">
<li class="box-li-bk">เปิดบัญชีที่หลากหลากในการเทรดฟอเร็กซ์ มากกว่า 1 บัญชี</li><br>
</ul>									

</div>
</div>

<div class="col-md-6 col-sm-4 col-xs-12">
<div class="video-cover border--round box-shadow-wide">
<div class="background-image-holder">
<img alt="image" src="img/sc_pw-06.jpg" />
</div>
<div class="video-play-icon"></div>
<iframe src="https://www.youtube.com/embed/YyUw64B72Sg?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
</div>
<!--end video cover-->

<div class="feature__body boxed boxed--lg ">
<h3><span class="fs-14">ระบบเทรดอัตโนมัติ ATS</span></h3>
<ul class="ul-fs col-sm-12">
<li class="box-li-bk">โปรแกรมอัฉจริยะ ถูกพัฒนามาเพื่อทำกำไร ในตลาด Forex ได้อย่างมีประสิทธิภาพ ในอดีตเคยทำกำไรได้มากถึง 60% ต่อเดือน แต่ปัจจุบัน ได้ปรับลดความเสี่ยงลด เพื่อรักษาทุนของนักลงทุนให้คงอยู่ จึงมีกำไรเฉลี่ย 10%-15% ต่อเดือน</li>
</ul>									

</div>


</div>

</div>
</div>
</div>
</section>    


            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1><span class="fs-04">หลังจากยืนยันตัวตนเสร็จแล้วกรุณาส่งเลขบัญชีเทรดของคุณมาที่ช่องทางต่อไปนี้</span></h1>
                        </div>
                    </div>
                    <div class="row mt--2">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed"> <i class="icon socicon-line color--s1"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">LINE@</span><br><span class="fs-21">Line add : marrck_zm</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed"> <i class="icon  socicon-facebook color--s2"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">Facebook Fanpage</span><br><span class="fs-21">Fanpage : <a href="https://www.facebook.com/ForexBangkok/">Forex Bangkok</a></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed "> <i class="icon socicon-persona color--s3"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">เบอร์ติดต่อ</span><br><span class="fs-21">โทร. 02 024 6633</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
 
<section class="cover imagebg height-100 " data-overlay="3">
<div class="background-image-holder"><img alt="background" src="http://images.apple.com/jobs/images/backgrounds/hero/corporate-desktop.jpg"></div>
<div class="container pos-vertical-center ">
<div class="row">
<div class="col-sm-9 col-md-12 ">
<h1><span class="fs-11">เปิดบัญชีกับ  FBS <br class="hidden-xs hidden-sm">  ภายใต้การดูแลของ ForexBangkok</span></h1>
<div class="row text-center" data-overlay="9">
<div class="col-sm-3">
<a href="#" class="block">
<div class="feature "><i class="icon-Coins-3 icon--lg"></i></i>
 <span class="fs-18 color--primary"><p>บัญชีเทรดประเภทเซนต์</p></span>
 <p class="mt--text"><span class="fs-19">สำหรับมือใหม่ กับความเสี่ยงที่ต่ำกว่า 100 เท่า</span></p>
</div>
</a>
</div>
<div class="col-sm-3">
<a href="#" class="block">
<div class="feature ">  <i class="icon-Money-2 icon--lg"></i><span class="fs-18 color--primary"><p>การประกันเงินฝาก</p></span> 
<p class="mt--text"><span class="fs-19">ไม่น่าเชื่อ ทดลองการเทรดแบบไม่ขาดทุน</span></p>
</div>
</a>
</div>
<div class="col-sm-3">
<a href="#" class="block">
<div class="feature "> <i class="icon-Scale icon--lg"></i> <span class="fs-18 color--primary"><p>เลเวอเรจ  1:3000</p></span> 
<p class="mt--text"><span class="fs-19">เลเวอเรจเที่ยงตรงสูงสุดในตลาด</span></p>
</div>
</a>
</div>
<div class="col-sm-3">
<a href="#" class="block">
<div class="feature ">  <i class="icon-Data-Save icon--lg"></i> <span class="fs-18 color--primary"><p>เหมาะสำหรับใช้ผลิตภันฑ์ ATS</p></span> 
<p class="mt--text"><span class="fs-19">ประสิทธิภาพการทำกำไร ถึงขีดสุดเมื่อใช้ร่วมกับ FBS</span></p>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</section>	

<section class="text-center">
<div class="container">
<div class="row">
<div class="col-sm-12">
<ul class="list-inline list-inline--images">
<li>
<img alt="Image" src="img/partner-1.png" />
</li>
<li>
<img alt="Image" src="img/partner-2.png" />
</li>
<li>
<img alt="Image" src="img/partner-3.png" />
</li>
<li>
<img alt="Image" src="img/partner-4.png" />
</li>
<li>
<img alt="Image" src="img/partner-5.png" />
</li>
</ul>
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</section>

<section class="cover imagebg height-100 " data-overlay="3">
<div class="background-image-holder"><img alt="background" src="http://images.apple.com/th/apple-tv/images/games_large.jpg"></div>
<div class="container pos-vertical-center  ">
<div class="row">

<div class="col-sm-9 col-md-8 ">

<span class="fs-13">FBS คือโบรกเกอร์ที่ได้รับการรับรองให้เป็นโบรกเกอร์ที่ใช้สำหรับในการเทรดอัตราแลกเปลี่ยนระหว่างประเทศ (Forex) อย่างถูกต้องตามกฏหมาย FBS จัดว่าเป็นโบรกเกอร์ระดับแนวหน้าของโลกจากสถาบันทางการเงินของโลก (World’s Leading Financial Institutions) ที่สามารถให้บริการลูกค้าที่สนใจเทรดกับโบรกเกอร์แบบ ECN และ STP ด้วยบริการที่ครบครันและเพียบพร้อมสำหรับลูกค้า</span>
</div>
</section>
                </div>
            </div>
			
<footer class="text-center space--sm footer-5 bg--secondary  ">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="heading-block">
<ul class="list-inline list--hover">
<li>
<a href="/couser">
<span>Learning Center</span>
</a>
</li>
<li>
<a href="/products">
<span>Products</span>
</a>
</li>


</ul>
</div>
<div>
<ul class="social-list list-inline list--hover">

<li>
<a target="_blank" href="https://www.facebook.com/ForexBangkok/" >
<i class="socicon socicon-facebook icon icon--xs"></i>
</a>
</li>

</ul>
</div>
<div>
<span class="type--fine-print">Made in Swedish</span>
<img alt="Image" class="flag" src="img/flag-th.png" />
</div>
<div>
<span class="type--fine-print">&copy;
<span class="update-year"></span> ForexBangkok All Rights Reserved.</span>
<a class="type--fine-print" href="#">Privacy Policy</a>
<a class="type--fine-print" href="#">Legal</a>
</div>
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</footer>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>