<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ForexBangkok | สถาบันตลาดฟอเร็กซ์ที่ใหญ่ที่สุด</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
    </head>
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm " data-scroll-class='366px:pos-fixed'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href="/">
                                    <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                    <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                            <div class="col-md-11 col-sm-12 text-center text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li>
											<a href="/"><span class="fs-nav">หน้าหลัก</span></a>
										</li>
                                        <li>
											<a href="/couser"><span class="fs-nav">ศูนย์การเรียนรู้</span></a>
										</li>
                                         <li>
											<a href="/products"><span class="fs-nav">สินค้าและบริการ</span></a>
										</li>
                                    </ul>
                                </div>
                                <div class="bar__module">
								<a class="btn-forex " href="/broker"> <span class="fs-btn">เปิดบัญชี</span> </a>
                                </div>
                            </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">

		
            <section class="cover  unpad--bottom switchable text-center-xs">
                <div class="container">
                    <div class="row">		
					<div class="background-image-holder"> <img alt="background" src="img/hero-s2.jpg"> </div>
                        <div class="col-sm-6 col-md-6 mt--3">
                            <h1><span class="fs-22">ผม สัจจะ เทพหัสดิน ณ อยุธยา (โค้ช.จูล่ง)</span></h1>
							<p><span class="fs-23">"ถ้าคุณรู้เร็วมากเท่าไหร่ เงินในกระเป๋าของคุณก็เพิ่มขึ้นมากเท่านั้น"</span></p>
                            <p class="lead"><span class="fs-24">"ถ้าคุณอ่านใจตลาดได้การเทรด Forex มันจะเลี้ยงเราได้ทั้งชีวิต" <br> ผมจะสอนเฉพาะคนที่อยากเรียน ผมไม่คิดเงิน <br> เพราะผมชอบ สอนและแบ่งปัน</span></p>
							<a class="btn-forex" href="/couser"> <span class="fs-btn">
							เปิดบัญชีเทรดกับอาจารย์ จูล่ง
							</span> </a>
                        </div>
                        <div class="col-sm-6"> <img alt="Image" src="img/cl-co-01.png"> </div>
                    </div>
                </div>
            </section>			
			
			 <section class="imagebg videobg height-100 text-center" data-overlay="6">
                <div class="youtube-background" data-video-url="b86dkX8pztA" data-start-at="17"></div>
                <div class="background-image-holder"> <img alt="image" src="img/hero-1.jpg"> </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-7">
								<div class="modal-instance block">
                                <div class="video-play-icon modal-trigger"></div>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%"> <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/b86dkX8pztA	?autoplay=1"></iframe> </div>
                                </div>
                            </div>
                            <h1><span class="fs-25">ผลลัพธ์การเรียนรู้กับอาจารย์ จูล่ง</span></h1>
							<span class="block type--fine-print fs-26">"สำหรับผมแล้วทุกครั้งที่ ลูกศิษย์ มาเรียนด้วยความตั้งใจ <br> และผมสอนด้วยความเต็มใจ เมื่อผลลัพธ์ออกมาเป็นกำไรที่ลูกศิษย์ได้ทำกำไรได้จริงๆ ผมรู้สึกดีใจอย่างบอกไม่ถูก "</span> </div>
							
                        </div>
                    </div>
                </div>
            </section>


            <section class="switchable  feature-large bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="border--round box-shadow-wide" src="img/cl-ml1.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
							<h1><span class="fs-27">ฟรี! เรียนรู้วิธีการทำกำไร<br>จากตลาด  Forex</span></h1>
							<p class="lead"><span class="fs-28">ผมสอนการลงทุน และการเทรดให้ผู้เรียนมากมายหลายรุ่น สอนจากคนที่ไม่สามารถเทรดได้ จนสามารถทำกำไรได้ อย่างรวดเร็ว ไม่ใช่เพียงแค่ทฤษฏีเท่านั้น ทุกคนจะได้ปฏิบัติจริงกับ Templates MT4 ในโน๊ตบุ๊ค และในมือถือ</span></p>

                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="cover  unpad--bottom switchable switchable--switch text-center-xs">
                <div class="container">
                    <div class="row">		
					<div class="background-image-holder"> <img alt="background" src="img/hero-s4.jpg"> </div>
                        <div class="col-sm-6 col-md-5 mt--2">
                            <h1><span class="fs-04">คุณจะได้อะไรจากการที่มาเรียนกับ ForexBangkok</span></h1>
                            <p class="lead"><span class="fs-31">
							สิ่งที่ผู้เรียนจะได้รับ เต็มเปี่ยมด้วยคุณค่าเนื้อหาสาระ ที่อาจารย์  
							กลั่นกรองมามากกว่า 4 ปี  <br> ผมไม่เคยคิดค่าสอน  เรามีสอนทุกวัน ที่ออฟฟิค Forex Bangkok 
							(ใกล้ห้าง Union mall) <br> สอนทุกวันศุกร์ เสาร์ อาทิตย์ </span>
							</p>

                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder"> <img alt="image" src="img/pr_cr.jpg"> </div>
                                <div class="video-play-icon">
								</div> 
								<!--<iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1"></iframe>-->
								
								</div>
							
                        </div>

                        <div class="col-sm-7"> <img alt="Image" src="img/cl-co-03.png"> </div>
						
                    </div>
                </div>
            </section>			
			
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p><span class="fs-17"> สอนดี เข้าใจ ปรึกษาได้ 
									ครบครับที่นี่ ทำให้เรื่องยากเป็นเรื่องง่าย สามารถนำไปใช้ได้จริง เปิดโอกาสให้คนไม่มีความรู้อย่างผมได้เข้าใจ ถึงโอกาสในการลงทุนอีกช่องทางนึง ทีมงานก็ยอดเยี่ยมทุกคน 
									#forexbkk
									#ความรู้เปลี่ยนโลก</span></p>
                                </div>
                                <div class="testimonial__image"> <img alt="Image" src="img/couser-t/avatar-round-1.png">
                                    <h5><span class="fs-36">ป้อม ศิรตานนท์</span></h5> <span class="fs-10">นักเรียนบางส่วนของ ForexBangkok</span> </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p><span class="fs-17">  ใครยังไม่เคยเรียน อยากให้ลองไปเรียนดูได้ครับ เยี่ยมไปเลย บรรยากาศเป็นกันเองดีครับ สงสัยก็ถามได้เลยครับ</span></p>
                                </div>
                                <div class="testimonial__image"> <img alt="Image" src="img/couser-t/avatar-round-2.png">
                                    <h5><span class="fs-36">Thanetrat Suphapakorn </span></h5> <span class="fs-10">นักเรียนบางส่วนของ ForexBangkok</span> </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p><span class="fs-17">อาจารย์สอนดีมากกก เข้าใจง่ายแล้วก็ใจเย็นด้วย มีคำตอบให้ทุกคำถามเลยค่ะ</span></p>
                                </div>
                                <div class="testimonial__image"> <img alt="Image" src="img/couser-t/avatar-round-3.png">
                                    <h5><span class="fs-36">Yo Yho </span></h5> <span class="fs-10">นักเรียนบางส่วนของ ForexBangkok</span></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="testimonial testimonial-2">
                                <div class="testimonial__body boxed boxed--border bg--secondary">
                                    <p><span class="fs-17"> สอนดีที่สุดเป็นกันเอง ของดีไม่ต้องพูดเยอะ อยากรู้ต้องมา ที่นี่เลย ฟรีครับไม่เสียตัง จัดไป</span> </p>
                                </div>
                                <div class="testimonial__image"><img alt="Image" src="img/couser-t/avatar-round-4.png">
                                    <h5><span class="fs-36">Jakrin Laophlawut </span></h5> <span class="fs-10">นักเรียนบางส่วนของ ForexBangkok</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
			
			
			
            <section class="cover cover-fullscreen height-100 imagebg slider text-center" data-paging="true" data-arrows="true" data-timing="9000">
                <ul class="slides">
                    <li class="imagebg col-md-12 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/gallery/1.jpg" />
                        </div>
                        <div class="pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Thanks for the support ForexBangkok, <br> this tutorial will not happen if everyone does not help each other.</h4>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-12 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/gallery/2.jpg" />
                        </div>

                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-12 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/gallery/3.jpg" />
                        </div>
                        <div class="pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Thanks for the support ForexBangkok, <br> this tutorial will not happen if everyone does not help each other.</h4>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-12 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/gallery/4.jpg" />
                        </div>
                        <div class="pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Thanks for the support ForexBangkok, <br> this tutorial will not happen if everyone does not help each other.</h4>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-12 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/gallery/5.jpg" />
                        </div>
                        <div class="pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Thanks for the support ForexBangkok, <br> this tutorial will not happen if everyone does not help each other.</h4>
                                </div>	
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </li>
                </ul>
            </section>


		
			<section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                            <div class="bg--dark box-shadow-wide">
                                <img alt="Image" src="img/Calendar.jpg">
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

				<section class="text-center space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-inline list-inline--images">
                                <li>
								<img alt="Image" src="img/partner-1.png" />
								</li>
								<li>
								<img alt="Image" src="img/partner-2.png" />
								</li>
								<li>
								<img alt="Image" src="img/partner-3.png" />
								</li>
								<li>
								<img alt="Image" src="img/partner-4.png" />
								</li>
								<li>
								<img alt="Image" src="img/partner-5.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

			<section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1><span class="fs-04">ติดต่อลงทะเบียนเรียนได้ที่ช่องทางต่อไปนี้</span></h1>
                        </div>
                    </div>
                    <div class="row mt--2">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed"> <i class="icon socicon-line color--s1"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">LINE@</span><br><span class="fs-21">Line add : marrck_zm</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed"> <i class="icon  socicon-facebook color--s2"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">Facebook Fanpage</span><br><span class="fs-21">Fanpage : <a href="https://www.facebook.com/ForexBangkok/">Forex Bangkok</a></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed "> <i class="icon socicon-persona color--s3"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">เบอร์ติดต่อ</span><br><span class="fs-21">โทร. 02 024 6633</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>					
 


            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-block">
                                <h4><span class="fs-37">คำถามที่พบบ่อย?</span></h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-block">
                                <h5><span class="fs-38">มีค่าใช้จ่ายอะไรไหม ?</span></h5>
                                <p><span class="fs-39">เราให้คุณมาเรียนได้ฟรี !! ลงทะเบียนเรียน ฟรี! ตั้งเเต่เบื้องต้นไปจนถึงคอร์ส Advance</span></p>
                            </div>
                            <div class="text-block">
                                <h5><span class="fs-38">ต้องเตรียมอะไรไปบ้าง ?</span></h5>
                                <p><span class="fs-39"> smartphone ส่วนตัว หรือ โน๊ตบุ๊คส่วนตัว  <br>อย่างใดอย่างหนึ่งก็ได้ </span></p>
                            </div>
                            <div class="text-block">
                                <h5><span class="fs-38">ต้องเริ่มเรียนอะไรยังไง <br> สามารถดูตารางเรียนได้ที่ไหน?</span></h5>
                                <p><span class="fs-39">ตารางเรียนได้อยู่ในหน้าเว็บนี้เลยครับ สำหรับคนที่ต้องการสอบถามเพิ่มเติม สามารถแจ้งมาได้ที่ line , facebook เลือกช่องทางติดต่อสอบถามอย่างใดอย่างหนึ่งครับ</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-block">
                                <h5><span class="fs-38">ปกติการเรียน Forex ทั้ง course เลยเค้าติดราคาเท่าไหร่ แล้วสอนฟรี นี้จะมีคุณภาพไหมค่ะ?</span></h5>
                                <p><span class="fs-39">มีราคาตั้งแต่หลัก พัน จนถึงหลักแสนเลย  แล้วแต่เราอยากจะเรียนครับ แต่เราเองสอนฟรี ไม่ผิวเผินแน่นอนครับ <br> เราสอนจากที่เทรดไม่เป็นเลย จนสามารถเทรดได้ <br> กำไรด้วยครับ </p>
                            </div>
                            <div class="text-block">
                                <h5><span class="fs-38">แล้วไม่มีความรู้เลย คือไม่เป็นเลย ค่ะ แล้วจะเริ่มยังไง อีกอย่างอายุก็ 40 กว่าแล้วด้วย จะสามารถเรียนได้ไหม?</span></h5>
                                <p><span class="fs-39">ไม่มีความรู้เลย ไม่มีพื๊นฐาน ไม่เป็นปัญหาเลยครับ มันอยู่ที่ใจครับย ว่าเราจะสู้ไหม เรามีเวทีให้ คุณแค่กล้า <br>ขึ้นมาฝึกซ้อมครับ</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
                </div>
            </div>
			
<footer class="text-center space--sm footer-5 bg--secondary  ">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="heading-block">
<ul class="list-inline list--hover">
<li>
<a href="/couser">
<span>Learning Center</span>
</a>
</li>
<li>
<a href="/products">
<span>Products</span>
</a>
</li>


</ul>
</div>
<div>
<ul class="social-list list-inline list--hover">

<li>
<a target="_blank" href="https://www.facebook.com/ForexBangkok/" >
<i class="socicon socicon-facebook icon icon--xs"></i>
</a>
</li>

</ul>
</div>
<div>
<span class="type--fine-print">Made in Swedish</span>
<img alt="Image" class="flag" src="img/flag-th.png" />
</div>
<div>
<span class="type--fine-print">&copy;
<span class="update-year"></span> ForexBangkok All Rights Reserved.</span>
<a class="type--fine-print" href="#">Privacy Policy</a>
<a class="type--fine-print" href="#">Legal</a>
</div>
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</footer>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>