<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ForexBangkok | สถาบันตลาดฟอเร็กซ์ที่ใหญ่ที่สุด</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
    </head>
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm " data-scroll-class='366px:pos-fixed'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href="/">
                                    <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                    <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                            <div class="col-md-11 col-sm-12 text-center text-left-xs text-left-sm">
                                <div class="bar__module">
                                    <ul class="menu-horizontal text-left">
                                        <li>
											<a href="/"><span class="fs-nav">หน้าหลัก</span></a>
										</li>
                                        <li>
											<a href="/couser"><span class="fs-nav">ศูนย์การเรียนรู้</span></a>
										</li>
                                         <li>
											<a href="/products"><span class="fs-nav">สินค้าและบริการ</span></a>
										</li>
                                    </ul>
                                </div>
                                <div class="bar__module">
								<a class="btn-forex " href="/broker"> <span class="fs-btn">เปิดบัญชี</span> </a>
                                </div>
                            </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">
	
            <section class="cover  unpad--bottom switchable text-center-xs">
                <div class="container">
                    <div class="row">		
					<div class="background-image-holder"> <img alt="background" src="img/s-bg-01.jpg"> </div>
                        <div class="col-sm-6 col-md-6 mt--3">
                            <h1><span class="fs-22">ATS คืออะไร</span></h1>
                            <p class="lead"><span class="fs-24">ระบบเทรดทำกำไรอัจฉริยะอัตโนมัติในตลาด Forex มันจะช่วยให้คุณไม่ต้องนั่งเฝ้ากราฟเพียงแค่คุณฝากเงินในบัญชีเทรดของคุณ แม้ว่าคุณจะนอนหลับ ระบบก็ยังคงทำกำไรให้คุณตลอด 24 ชั่วโมง&nbsp;</span></p>
                        </div>
                        <div class="col-sm-6"> <img alt="Image" src="img/mt4apps.png"> </div>
                    </div>
                </div>
            </section>			

			


			
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="fs-04">ATS ตอนนี้มีกี่ </span>
                                <span class="color--primary fs-04">Version?</span>
                                <br class="hidden-xs hidden-sm" /> <span class="fs-04">ปจุบันผลิตภันฑ์  ATS มีทั้งหมด 4 ระบบ</span></h1><br>
                        </div>
					<div class="col-md-6 col-sm-6">
                            <div class="slider box-shadow-wide border--round" data-paging="true">
                                <ul class="slides">
                                    <li>
                                        <img alt="img" src="img/product/pt-m.jpg" />
                                    </li>
                                    <li>
                                        <img alt="img" src="img/product/pt-g.jpg" />
                                    </li>
                                </ul>
                            </div>
                        </div>
						<div class="col-md-6 col-sm-6">
						<div class="slider box-shadow-wide border--round" data-paging="true">
						<ul class="slides">
						<li>
							<img alt="img" src="img/product/pt-s.jpg" />
						</li>
						<li>
                           <img alt="img" src="img/product/pt-h.jpg" />
						</li>
						</ul>
						</div>
						</div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <!--<section class="cover height-80 imagebg switchable" data-overlay="8">
                <div class="background-image-holder">
                    <img alt="background" src="img/landing-1.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <div class="switchable__text">
                                <h1>
                                    <span class="fs-25">ประสบการณ์ผู้ใช้ผลิตภัณฑ์ ATS</span>
                                </h1>
                                <p class="lead">
                                    <span class="fs-26">เรื่องราวความสำเร็จของนักลงทุน ร่วมเป็นส่วนหนึ่งกับอีกกว่า 600+ นักลงทุนที่ไว้วางใจผลิตภัณฑ์  ATS</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="img/ats-reviews.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>-->
                <!--end of container
            </section>-->
			
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="feature">
				<img class="img-pr-rp" src="img/ats_p1.png">
                                <h4><span class="fs-04">ATS_M 3.1</span></h4>
                                <p>
                                    <span class="fs-17">ผลิตภัณฑ์นี้เป็นระบบเทรดทำกำไรอัตโนมัติ</span>
                                </p>
                            </div>
                        </div>
			  
			   <div class="col-sm-3">
                            <div class="feature">
				<img class="img-pr-rp" src="img/ats_p3.png">
                                <h4><span class="fs-04">ATS Gri 6.0</span></h4>
                                <p>
				   <span class="fs-17">ผลิตภัณฑ์นี้เป็นระบบเทรดทำกำไรอัตโนมัติ</span>
                                </p>
                            </div>
                        </div>
			    
                        <div class="col-sm-3">
                            <div class="feature">
								<img class="img-pr-rp" src="img/ats_p2.png">
                                <h4><span class="fs-04">ATS SWod 5.27</span></h4>
                                <p>
				   <span class="fs-17">ผลิตภัณฑ์นี้เป็นระบบ Manual ลูกค้าต้องควบคุมเอง</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="feature">
								<img class="img-pr-rp" src="img/ats_p4.png">
                                <h4><span class="fs-04">ATS_HIGH RISK</span></h4>
                                <p>
				   <span class="fs-17">ผลิตภัณฑ์นี้เป็นระบบ Manual ลูกค้าต้องควบคุมเอง</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->

                </div>
                <!--end of container-->
            </section>			


			
            <section class="border--bottom space--xxs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="modal-instance">
                                <a class="btn type--uppercase modal-trigger" href="#">
                                    <span class="fs-32">
                                        &#9654; ชมวีดโอ
                                    </span>
                                </a>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                        <iframe src="https://www.youtube.com/embed/YyUw64B72Sg?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <!--end of modal-content-->
                                </div>
                                <!--end of modal-container-->
                            </div>
                            <!--end of modal instance-->
                            <span class="block--xs fs-17">ผลิตภันฑ์ ATS ทุกตัวของเราได้ทำกำไรให้ลูกค้าได้อย่างไร้ความกังวล  ใช้มานาน 2 ปี 6 เดือน และมีนักลงทุนทั้งไทยและต่างชาติ ที่สนใจ มากกว่า 800 นักลงทุน</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2><span class="fs-04">ใช้งานผลิตภันฑ์ ATS <br>เรียบง่ายเพียงไม่กี่ขั้นตอน</span></h2>
                            <p class="lead"><span class="fs-20">
							"ใครๆก็ทำได้ เพียง 3 ขั้นตอน ดังนี้ ? "</span>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
								<img src="img/pt-01.png">
                                <h4><span class="fs-34">“เปิดบัญชีกับ ForexBangkok”</span></h4>
                                <p><span class="fs-35">
								สิ่งที่ท่านต้องทำเบื้องต้นเลย <br>
								 - ทำการเปิดบัญชีกับโบรกเกอร์<br>
								- ยืนยันตัวตนกับโบรกเกอร์<br>
								- โอนเงินเข้าโบรกเกอร์
                                </p></span>
								<a class="btn-forex " href="/broker"> <span class="fs-btn"> เปิดบัญชีเทรด </span> </a>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
								<img src="img/pt-02.png">
                                <h4><span class="fs-34">เลือกผลิตภัณฑ์ ATS <br>ที่คุณต้องการ</span></h4>
                                <p><span class="fs-35">
								เลือกระบบทำกำไร ATS ที่เหมาะกับคุณเมื่อตัดสินใจได้แล้ว ติดต่อสั่งซื้อผ่าน line ID จากนั้นรอเราอนุมัติให้ระบบทำงาน และรอผลกำไร</span>
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
								<img src="img/pt-03.png">
                                <h4><span class="fs-34">“รอรับเงินจาก ATS”</span></h4>
                                <p><span class="fs-35">
								สิ่งที่ง่ายที่สุด
								สุดท้ายแล้วท่านต้องถอนเงิน
								ที่ได้จากการทำงานของ ATS
								จากโบรกเกอร์ FBS</span>
                                </p>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>			

			
			
            <section class="pricing-section-2 text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2><span class="fs-04">ผลิตภันฑ์ ATS แบบไหนที่เหมาะกับคุณ?</span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed">
									<img class="img-pr-rp" src="img/ats_p1.png">
                                    <h5><span class="fs-40">ATS_M 3.1</span></h5> 
                                    <p class="type--fine-print"><span class="fs-41">4,900 บาท</span></p>
                                </div>
                                <ul>
                                    <li><span class="fs-43">เหมาะสำหรับบุคคลทั่วไป <br>และพึ่งเริ่มต้นเทรด </span></li>
									<li><span class="fs-43">เป็นระบบเทรดอัตโนมัติ <br>100%</span></li>
									<li><span class="fs-43">ทำกำไรได้มากถึง <br> 10%-20% ต่อเดิอน</span></li>
									<li><span class="fs-43">ใช้หลักการ <br>HIGH TOP CANDLESTICK</span></li>
									<li><span class="fs-43">มีทีมงานมืออาชีพ<br>คอยดูแลตลอด24 ชั่วโมง</span></li>
                                    <li><span class="fs-43">DD ไม่เกิน 30 % </span></li>
									<li><span class="fs-43"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed">
									<img class="img-pr-rp" src="img/ats_p2.png">
                                    <h5><span class="fs-40">GRT 6.0 ATS</span></h5> 
                                    <p class="type--fine-print"><span class="fs-41">5,900 บาท</span></p>
                                </div>
                                <ul>
                                    <li><span class="fs-43">เหมาะสำหรับบุคคลทั่วไป<br>และมีพื้นฐานในระดับเบื้องต้น </span></li>
                                    <li><span class="fs-43">เป็นระบบเทรนกึ่งอัตโนมัติ <br> โดยผู้ใช้ปรับ Features ต่างๆได้ </span></li>
                                    <li><span class="fs-43">ทำกำไรได้มากถึง 15%-30%  <br> ขึ้นอยู่การปรับค่า Features ต่างๆ</span></li>
									<li><span class="fs-43">มีทีมงานมืออาชีพ<br>คอยดูแลตลอด24 ชั่วโมง</span></li>
                                    <li><span class="fs-43">DD ไม่เกิน 27 %</span></li>
                                    <li><span class="fs-43"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed"> 
									<img class="img-pr-rp" src="img/ats_p3.png">
                                    <h5><span class="fs-40">ATS SWod 5.2</span></h5>
                                    <p class="type--fine-print"><span class="fs-41">5,900 บาท</span></p>
                                </div>
                                <ul>
                                   <li><span class="fs-43">เหมาะสำหรับบุคคลที่มีความรู้ในการเทรด<br>และมีประสบการณ์ในระดับกลางถึงขั้นสูง </span></li>
                                    <li><span class="fs-43">เป็นระบบเทรดโดยผู้ใช้ปรับ <br> Features ต่างๆได้เอง  </span></li>
									<li><span class="fs-43">ทำกำไรได้มากถึง 15%-30% ขึ้นอยู่การปรับค่า Features ต่างๆ</span></li>
                                    <li><span class="fs-43">จุดเด่นสามารถทำกำไรได้ทั้งสองฝั่ง <br> ทั้งกราฟขึ้นและลง</span></li>
                                    <li><span class="fs-43">มีการเข้าออเดอร์ที่ถี่ 40-50 ครั้งต่อนาที </span></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="pricing pricing-3">
                                <div class="pricing__head bg--secondary boxed">
									<img class="img-pr-rp" src="img/ats_p4.png">
                                    <h5><span class="fs-40">ATS_HIGH RISK หรือรุ่น H</span></h5>
                                    <p class="type--fine-print"><span class="fs-42">ผลิตภันฑ์ฟรี สงวนสิทธิ์ให้ลูกค้าที่เคยใช้ระบบ ATS แล้วเท่านั้น!</span></p>
                                </div>
                                <ul>
                                    <li><span class="fs-43">เหมาะสำหรับบุคคลที่เรียนผ่าน Basic 3 <br>ขึ้นไปหรือเคยใช้ระบบเทรดอัตโนมัติ ATS ออโต้เทรดมาก่อนอย่างใดอย่างหนึ่ง </span></li>
                                    <li><span class="fs-43">สามารถทำกำไรสูงสุด 100% ต่อวัน <br> ความเสี่ยงสูง กำไรย่อมสูงตาม </span></li>
                                    <li><span class="fs-43">เป็นระบบเทรดแบบ Menual <br>ผู้ใช้ต้องควบคุมเอง</span></li>
                                    <li><span class="fs-43">จำกัดการลงทุน <br> 50-100 usd</span></li>
                                    <li><span class="fs-43">ฟรี สำหรับลูกค้าเดิมและลูกค้าใหม่ <br>(เคยใช้ระบบเทรดอัตโนมัติ ATS ออโต้เทรดมาแล้ว) </span></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>		

			<section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1><span class="fs-04">ติดต่อสั่งซื้อผลิตภันฑ์ ATS <br>ได้ที่ช่องทางต่อไปนี้</span></h1>
                        </div>
                    </div>
                    <div class="row mt--2">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed"> <i class="icon socicon-line color--s1"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">LINE@</span><br><span class="fs-21">Line add : marrck_zm</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed"> <i class="icon  socicon-facebook color--s2"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">Facebook Fanpage</span><br><span class="fs-21">Fanpage : <a href="https://www.facebook.com/ForexBangkok/">Forex Bangkok</a></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed "> <i class="icon socicon-persona color--s3"></i>
                                <div class="feature__body">
                                    <p><span class="fs-20">เบอร์ติดต่อ</span><br><span class="fs-21">โทร. 02 024 6633</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>					

 			
			
            <section class="cover cover-fullscreen height-100 imagebg slider text-center" data-paging="true" data-arrows="true" data-timing="9000">
                <ul class="slides">
                    <li class="imagebg col-md-4 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/t1.jpg" />
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-4 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/t3.jpg" />
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-4 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/t4.jpg" />
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-4 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/t5.jpg" />
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-4 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/t6.jpg" />
                        </div>
                        <!--end of container-->
                    </li>
                    <li class="imagebg col-md-4 col-sm-6 col-xs-12" data-overlay="1">
                        <div class="background-image-holder">
                            <img alt="background" src="img/t9.jpg" />
                        </div>
                        <!--end of container-->
                    </li>
                </ul>
            </section>			


			
     
			
<footer class="text-center space--sm footer-5 bg--secondary  ">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="heading-block">
<ul class="list-inline list--hover">
<li>
<a href="/couser">
<span>Learning Center</span>
</a>
</li>
<li>
<a href="/products">
<span>Products</span>
</a>
</li>


</ul>
</div>
<div>
<ul class="social-list list-inline list--hover">

<li>
<a target="_blank" href="https://www.facebook.com/ForexBangkok/" >
<i class="socicon socicon-facebook icon icon--xs"></i>
</a>
</li>

</ul>
</div>
<div>
<span class="type--fine-print">Made in Swedish</span>
<img alt="Image" class="flag" src="img/flag-th.png" />
</div>
<div>
<span class="type--fine-print">&copy;
<span class="update-year"></span> ForexBangkok All Rights Reserved.</span>
<a class="type--fine-print" href="#">Privacy Policy</a>
<a class="type--fine-print" href="#">Legal</a>
</div>
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</footer>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
